@font-face {
  font-family: 'Gotham Pro Light';
  src: url('../fonts/GothamPro/GothamPro-Light.eot');
  src: url('../fonts/GothamPro/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro/GothamPro-Light.woff') format('woff'),
  url('../fonts/GothamPro/GothamPro-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
@font-face {
  font-family: 'Gotham Pro Bold';
  src: url('../fonts/GothamPro/GothamPro-Bold.eot');
  src: url('../fonts/GothamPro/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro/GothamPro-Bold.woff') format('woff'),
  url('../fonts/GothamPro/GothamPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin reg {
  font-family: 'Gotham Pro Light', sans-serif;
  font-weight: 300;
}
@mixin bold {
  font-family: 'Gotham Pro Bold', sans-serif;
  font-weight: 700;
}