.menu
  z-index: 5
  position: relative
  &-block
    background-color: $main-color
    display: flex
    justify-content: space-around
    padding: 25px
    margin-top: 30px
    +bold
  &__elements
    cursor: pointer
    &:hover
      text-decoration: underline
.menu
	&-button
		display: none
@media  ( max-width: 768px )
	.menu
		&__elements
			font-size: 14px
@media  ( max-width: 576px )
	.menu
		&-button
			display: block
			position: absolute
			left: 28px
			top: 0px
			width: 30px
			height: 2px
			background-color: $main-color
			border: none
			&::before
				content: ''
				display: block
				position: absolute
				left:  0
				top: 0
				width: 30px
				height: 2px
				background-color: $main-color
				margin-top: 7px
				border: none
			&::after
				content: ''
				display: block
				position: absolute
				left:  0
				top: 0
				width: 30px
				height: 2px
				background-color: $main-color
				margin-top: 14px
				border: none

		&-block
			display: none
			flex-direction: column
			position: absolute
			left: 0
			top: 0
			background-color: $main-color
			max-width: 350px
			padding: 5px
			&-active
				display: flex
		&__elements
			justify-content: space-between
			padding-left: 60px
			margin: 0
			width: 200px