* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	width: 940px;
	margin: auto;
}

@media (max-width: 1200px) {
	.container {
		width: 760px;
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 580px;
		width: 90%;
	}
}

@font-face {
	font-family: "Gotham Pro Light";
	src: url("../fonts/GothamPro/GothamPro-Light.eot");
	src: url("../fonts/GothamPro/GothamPro-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/GothamPro/GothamPro-Light.woff") format("woff"),
		url("../fonts/GothamPro/GothamPro-Light.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Gotham Pro Bold";
	src: url("../fonts/GothamPro/GothamPro-Bold.eot");
	src: url("../fonts/GothamPro/GothamPro-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/GothamPro/GothamPro-Bold.woff") format("woff"),
		url("../fonts/GothamPro/GothamPro-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.navbar-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 30px;
}

.navbar__brand {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.navbar__firm {
	margin-left: 14px;
}

.navbar__title {
	margin: 0;
	text-transform: uppercase;
	font-family: "Gotham Pro Bold", sans-serif;
	font-weight: 700;
}

.navbar__subtitle {
	font-family: "Gotham Pro Light", sans-serif;
	font-weight: 300;
}

.navbar__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.navbar__contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	margin-right: 30px;
}

.navbar__phone {
	text-decoration: none;
	color: #292929;
	font-family: "Gotham Pro Bold", sans-serif;
	font-weight: 700;
}

.navbar__adress {
	font-family: "Gotham Pro Light", sans-serif;
	font-weight: 300;
}

.navbar__button {
	padding: 14px 24px;
	background-color: #ffffff;
	cursor: pointer;
}

.navbar__button:hover {
	text-decoration: underline;
}

@media (max-width: 1200px) {
	.navbar__adress {
		font-size: 15px;
	}
	.navbar__subtitle {
		font-size: 15px;
	}
	.navbar__phone {
		margin-bottom: 5px;
	}
}

@media (max-width: 768px) {
	.navbar__adress {
		font-size: 13px;
		text-align: right;
		line-height: 1.4;
	}
	.navbar__subtitle {
		font-size: 13px;
	}
	.navbar__button {
		padding: 10px 20px;
	}
}

@media (max-width: 576px) {
	.navbar__brand {
		margin-bottom: 20px;
	}
	.navbar-block {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-bottom: 45px;
		margin-top: 15px;
	}
	.navbar__contact {
		-webkit-box-align: baseline;
		-ms-flex-align: baseline;
		align-items: baseline;
	}
	.navbar__info {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.navbar__button {
		margin-top: 10px;
		padding: 10px 40px;
	}
	.navbar__subtitle {
		display: none;
	}
}

.menu {
	z-index: 5;
	position: relative;
}

.menu-block {
	background-color: #ffcc00;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	padding: 25px;
	margin-top: 30px;
	font-family: "Gotham Pro Bold", sans-serif;
	font-weight: 700;
}

.menu__elements {
	cursor: pointer;
}

.menu__elements:hover {
	text-decoration: underline;
}

.menu-button {
	display: none;
}

@media (max-width: 768px) {
	.menu__elements {
		font-size: 14px;
	}
}

@media (max-width: 576px) {
	.menu-button {
		display: block;
		position: absolute;
		left: 28px;
		top: 0px;
		width: 30px;
		height: 2px;
		background-color: #ffcc00;
		border: none;
	}
	.menu-button::before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 30px;
		height: 2px;
		background-color: #ffcc00;
		margin-top: 7px;
		border: none;
	}
	.menu-button::after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 30px;
		height: 2px;
		background-color: #ffcc00;
		margin-top: 14px;
		border: none;
	}
	.menu-block {
		display: none;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		position: absolute;
		left: 0;
		top: 0;
		background-color: #ffcc00;
		max-width: 350px;
		padding: 5px;
	}
	.menu-block-active {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.menu__elements {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding-left: 60px;
		margin: 0;
		width: 200px;
	}
}

.main {
	background: url("../img/main/tractor.png");
	background-color: #292929;
	opacity: 0.95;
	margin-top: -30px;
}

.main-offer {
	z-index: 1;
	padding-top: 170px;
	color: #ffffff;
}

.main-offer__title {
	margin-top: 0;
	margin-bottom: 30px;
	text-transform: uppercase;
	font-family: "Gotham Pro Bold", sans-serif;
	font-weight: 700;
}

.main-offer__subtitle {
	display: block;
	max-width: 240px;
	font-family: "Gotham Pro Light", sans-serif;
	font-weight: 300;
}

.main-offer__choice {
	margin-left: 31px;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 14px;
	font-family: "Gotham Pro Light", sans-serif;
	font-weight: 300;
}

.main-offer__choice:hover {
	text-decoration: underline;
}

.main__button {
	padding: 18px 22px;
	background-color: #ffcc00;
	border: none;
	margin-top: 65px;
	cursor: pointer;
	margin-bottom: 123px;
	font-family: "Gotham Pro Bold", sans-serif;
	font-weight: 700;
}

.main__button:hover {
	text-decoration: underline;
}

@media (max-width: 1200px) {
	.main {
		background: url("../img/main/tractor.png");
		background-position: center;
		background-color: #292929;
		opacity: 0.95;
	}
}

@media (max-width: 992px) {
	.main {
		background: url("../img/main/tractor.png");
		background-position: center;
		background-color: #292929;
		opacity: 0.95;
	}
	.main__button {
		display: block;
		margin-bottom: 35px;
		margin-top: 40px;
	}
	.main-offer {
		padding-bottom: 50px;
	}
	.main-offer__choice {
		margin-left: 5px;
	}
}

.price__title {
	margin-top: 80px;
	margin-bottom: 60px;
	text-align: center;
	text-transform: uppercase;
	font-family: "Gotham Pro Bold", sans-serif;
	font-weight: 700;
}

.price-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	margin-bottom: 80px;
}

.price-block__card {
	text-align: center;
	border: 2px solid #f6f6f6;
	margin-right: 20px;
}

.price-block__card:nth-child(3) {
	margin-right: 0;
}

.price-block__title {
	margin: 0 0 19px 0;
	font-size: 16px;
	cursor: pointer;
	font-family: "Gotham Pro Bold", sans-serif;
	font-weight: 700;
}

.price-block__title:hover {
	text-decoration: underline;
}

.price-block__subtitle {
	display: block;
	font-family: "Gotham Pro Light", sans-serif;
	font-weight: 300;
}

.price-block__money {
	margin: 29px 0 32px 0;
	display: block;
	font-size: 17px;
	font-family: "Gotham Pro Bold", sans-serif;
	font-weight: 700;
}

.price__button {
	padding: 19px 54px;
	font-size: 14px;
	background-color: #ffcc00;
	border: none;
	cursor: pointer;
	margin-bottom: 36px;
	font-family: "Gotham Pro Bold", sans-serif;
	font-weight: 700;
}

.price__button:hover {
	text-decoration: underline;
}

.sand {
	margin: 38px 0 32px 0;
}

.stone {
	margin: 52px 0 46px 0;
}

.priming {
	margin: 4px 0 32px 0;
}

@media (max-width: 1200px) {
	.price-block__card:nth-child(3) .price-block__money {
		margin-top: 66px;
	}
}

@media (max-width: 992px) {
	.price-block {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.price-block__subtitle {
		max-width: 420px;
	}
	.price-block__card {
		margin: 0;
		margin-bottom: 20px;
	}
}

@media (max-width: 768px) {
	.price-block {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.price-block__subtitle {
		max-width: 420px;
	}
}

.advantages {
	background-color: #f6f6f6;
}

.advantages__title {
	padding-top: 80px;
	margin-top: 0;
	margin-bottom: 60px;
	text-align: center;
	text-transform: uppercase;
	font-family: "Gotham Pro Bold", sans-serif;
	font-weight: 700;
}

.advantages-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	padding-bottom: 80px;
}

.advantages-block__card {
	text-align: center;
	border: 2px solid #ffffff;
	margin-right: 20px;
	max-width: 300px;
}

.advantages-block__card:nth-child(3) {
	margin-right: 0;
}

.advantages-block__card:hover {
	background-color: #ffffff;
}

.advantages-block__title {
	margin: 0 0 20px 0;
	font-size: 16px;
	font-family: "Gotham Pro Bold", sans-serif;
	font-weight: 700;
}

.advantages-block__subtitle {
	display: block;
	margin-bottom: 43px;
	font-size: 15px;
	font-family: "Gotham Pro Light", sans-serif;
	font-weight: 300;
}

.piggy-bank {
	margin: 40px 125px 19px 125px;
	z-index: 2;
	position: relative;
}

.piggy-bank1 {
	z-index: 1;
	position: relative;
	left: 1px;
	top: -74px;
}

.truck {
	margin: 42px 125px -6px 124px;
	z-index: 2;
	position: relative;
}

.truck1 {
	z-index: 1;
	position: relative;
	left: -2px;
	top: -42px;
}

.wheelbarrow {
	margin: 40px 125px 4px 125px;
	z-index: 2;
	position: relative;
}

.wheelbarrow1 {
	z-index: 1;
	position: relative;
	left: 6px;
	top: -42px;
}

@media (max-width: 992px) {
	.advantages-block {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.advantages-block__card {
		margin: 0;
		margin-bottom: 20px;
	}
}

.popularity__title {
	margin-top: 80px;
	margin-bottom: 60px;
	text-align: center;
	text-transform: uppercase;
	font-family: "Gotham Pro Bold", sans-serif;
	font-weight: 700;
}

.popularity-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	margin-bottom: 80px;
}

.popularity-block__card {
	text-align: center;
	border: 2px solid #f6f6f6;
	margin-right: 20px;
}

.popularity-block__card:nth-child(4) {
	margin-right: 0;
}

.popularity-block__card:nth-child(3) .popularity-block__subtitle {
	margin-bottom: 7px;
}

.popularity-block__image {
	padding: 20px 20px 22px 20px;
}

.popularity-block__subtitle {
	margin-bottom: 24px;
	display: block;
	font-size: 15px;
	cursor: pointer;
	font-family: "Gotham Pro Light", sans-serif;
	font-weight: 300;
}

.popularity-block__subtitle:hover {
	text-decoration: underline;
}

.popularity-block__money {
	font-size: 17px;
	font-family: "Gotham Pro Bold", sans-serif;
	font-weight: 700;
}

.popularity-block__money1 {
	color: #979797;
	vertical-align: text-top;
	text-decoration: line-through;
	font-size: 12px;
	font-family: "Gotham Pro Light", sans-serif;
	font-weight: 300;
}

.popularity-block__money2 {
	color: #ff0000;
	font-size: 17px;
	font-family: "Gotham Pro Bold", sans-serif;
	font-weight: 700;
}

.popularity__button {
	margin-top: 25px;
	padding: 19px 66px;
	font-size: 14px;
	background-color: #ffcc00;
	border: none;
	cursor: pointer;
	margin-bottom: 36px;
	font-family: "Gotham Pro Bold", sans-serif;
	font-weight: 700;
}

.popularity__button:hover {
	text-decoration: underline;
}

.stock {
	position: relative;
	left: -53px;
	top: -191px;
}

.stock__subtitle {
	margin-top: -68px;
}

@media (max-width: 992px) {
	.popularity__button {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.popularity-block {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.popularity-block__image {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.popularity-block__card {
		margin-right: 0;
		width: 260px;
		margin-bottom: 20px;
	}
	.popularity-block__subtitle {
		display: block;
	}
}

.help {
	background-color: #f6f6f6;
}

.help__title {
	padding-top: 80px;
	margin-top: 0;
	margin-bottom: 60px;
	text-align: center;
	text-transform: uppercase;
	font-family: "Gotham Pro Bold", sans-serif;
	font-weight: 700;
}

.help-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	padding-bottom: 80px;
}

.help-block__card {
	text-align: center;
	border: 2px solid #ffffff;
	margin-right: 20px;
}

.help-block__card:nth-child(3) {
	margin-right: 0;
}

.help-block__card:hover {
	background-color: #ffffff;
}

.help-block__image1 {
	padding: 52px 24px 36px 24px;
}

.help-block__image2 {
	padding: 58px 51px 26px 20px;
}

.help-block__image3 {
	padding: 47px 49px 26px 62px;
}

.help-block__title {
	margin-bottom: 39px;
	font-size: 17px;
	font-family: "Gotham Pro Bold", sans-serif;
	font-weight: 700;
}

.help-block__title:hover {
	text-decoration: underline;
	cursor: pointer;
}

@media (max-width: 992px) {
	.help-block {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.help-block__card {
		margin: 0;
		margin-bottom: 20px;
	}
}

.contacts {
	background: url("../img/contacts/contacts-bg.png") no-repeat;
}

.contacts-field {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	max-height: 520px;
}

.contacts__image {
	padding: 227px 0 251px 120px;
}

.contacts-block {
	background-color: #ffffff;
	margin: 80px 489px 76px 412px;
}

.contacts__title {
	margin: 0;
	padding: 60px 173px 53px 61px;
	text-transform: uppercase;
	font-family: "Gotham Pro Bold", sans-serif;
	font-weight: 700;
}

.contacts__phone {
	padding-left: 60px;
}

.contacts__phone-img {
	display: inline-block;
}

.contacts__phone-text {
	display: block;
	margin-left: 34px;
	margin-top: -20px;
	text-transform: uppercase;
	text-decoration: none;
	color: #292929;
	cursor: pointer;
	font-family: "Gotham Pro Bold", sans-serif;
	font-weight: 700;
}

.contacts__phone-text:hover {
	text-decoration: underline;
}

.contacts__location {
	padding: 39px 0 40px 60px;
}

.contacts__location-img {
	display: inline-block;
}

.contacts__location-text {
	display: block;
	margin-top: -22px;
	margin-left: 32px;
	font-size: 18px;
}

.contacts__mail {
	padding: 0 0 56px 59px;
}

.contacts__mail-img {
	display: inline-block;
}

.contacts__mail-text {
	display: block;
	margin-top: -20px;
	margin-left: 33px;
	font-size: 18px;
}

.contacts__mail-text:hover {
	text-decoration: underline;
	cursor: pointer;
}

@media (max-width: 1200px) {
	.contacts-block {
		margin: 80px 0 80px 0;
	}
}

@media (max-width: 768px) {
	.contacts__image {
		padding: 227px 0 251px 60px;
	}
	.contacts__title {
		padding: 60px 164px 53px 61px;
	}
}

@media (max-width: 576px) {
	.contacts-block {
		margin: 80px 13px 158px 0;
	}
	.contacts__image {
		margin: 5px 17px 3px 13px;
		padding: 227px 0 251px 0;
	}
	.contacts__title {
		padding: 24px 57px 47px 28px;
		font-size: 20px;
	}
	.contacts__phone,
	.contacts__location,
	.contacts__mail {
		padding-left: 10px;
	}
	.contacts__phone-text,
	.contacts__location-text,
	.contacts__mail-text {
		font-size: 14px;
		margin-left: 18px;
	}
	.contacts__mail-text {
		margin-top: -16px;
	}
}

.footer {
	background: #292929;
}

.footer-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 50px;
	color: #ffffff;
}

.footer__brand {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.footer__firm {
	margin-left: 13px;
}

.footer__title {
	margin: 0;
	text-transform: uppercase;
	font-family: "Gotham Pro Bold", sans-serif;
	font-weight: 700;
}

.footer__subtitle {
	display: block;
	font-family: "Gotham Pro Light", sans-serif;
	font-weight: 300;
}

.footer__year {
	margin-top: 54px;
	margin-left: -50px;
	font-size: 12px;
	margin-bottom: 43px;
	font-family: "Gotham Pro Bold", sans-serif;
	font-weight: 700;
}

.footer__logo {
	margin-bottom: 111px;
}

.footer__info {
	text-align: end;
}

.footer__phone {
	display: block;
	text-decoration: none;
	color: #ffffff;
	font-family: "Gotham Pro Bold", sans-serif;
	font-weight: 700;
}

.footer__adress {
	font-family: "Gotham Pro Light", sans-serif;
	font-weight: 300;
}

.footer__button {
	margin-top: 30px;
	padding: 14px 24px;
	color: #ffffff;
	background-color: #292929;
	border: 2px solid #ffffff;
	cursor: pointer;
}

.footer__button:hover {
	text-decoration: underline;
}

@media (max-width: 768px) {
	.footer__adress {
		padding-top: 20px;
		font-size: 13px;
	}
	.footer__subtitle {
		font-size: 13px;
	}
	.footer__phone {
		margin-bottom: 4px;
	}
}

@media (max-width: 576px) {
	.footer-block {
		-ms-flex-wrap: wrap-reverse;
		flex-wrap: wrap-reverse;
		padding: 0;
	}
	.footer__info {
		text-align: left;
	}
	.footer__button {
		margin-top: 15px;
		padding: 10px 40px;
	}
	.footer__contact {
		margin-top: 30px;
	}
	.footer__brand {
		margin-top: 30px;
	}
}
